2. Automacao FrontEnd/automation-front-end/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
cypress/screenshots/
cypress/videos/
cypress.config.js
.cache/
build/
.vscode/
.idea/
Thumbs.db
*.log
*.tmp
tmp/
dist/
coverage/
